
@model IEnumerable<AppUser>


<div class="row">
    <div class="col-12">
        <a asp-action="Register" asp-controller="Account" asp-area="" class="btn btn-link">Đăng ký tài khoản</a>
        <table class="table table-bordered table-hover mt-2">
            <tr>
                <th>Id</th>
                <th>Tên đăng nhập</th>
                <th>Email</th>
                <th>Vai trò</th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Username</td>
                    <td>@item.Email</td>
                    <td>@(item.Role == UserRole.ROLEADMIN ? "Admin" : "Khách")</td>
                    <td>
                        <!--asp-route-id: Chuyển đến id  -->
                        <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-secondary">Sửa</a>
                        <a asp-page="/Admin/User_Delete" class="btn btn-danger">Xóa</a>
                    </td>
                </tr>
            }
        </table>
        <!--Phân trang-->
        <partial name="_Pager" model="Model" />
    </div>
</div>